/*---------------------header---------------------*/
.top-container {
    width:1200px;
    height: 128px;
    margin: 0 auto;
}
.header-top {
    height: 68px;
}
.logo {
    padding-top: 35px;
    padding-right: 20px;
    float: left;
}
.logo-describe {
    height: 43px;
    margin-top: 25px;
    font-size: 12px;
    line-height: 23px;
    padding-left:20px;
    border-left:1px solid #dcdcdc;
    color: #999;float: left;
}
.top-search {
    float: right;
    margin-top: 25px;
}
.search {
    width: 295px;
    height: 41px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-right: 0 none;
    vertical-align: middle;
    padding-left: 13px;
    outline: none;
}
.btn {
    width: 44px;
    height: 43px;
    background:url("../images/search.png") no-repeat #ff5842 center center;
    border: 0 none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
.header-bottom {
    margin-top: 20px;
}
.content {
    float: left;
}
.content-ul {
    font-size: 20px;
    color: #828282;
}
.content-ul li {
    float: left;
    padding-right: 50px;
    height: 14px;
}
.content-ul li a {
    color: #828282;
}
.content-ul li a:hover {
    color: #ff5842;
}
#li-else a {
    color: #ff5842;
}
.button {
    float: right;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #FFF;
}
.button a {
    display: inline-block;
    color: #FFF;
}
.Join {
    width: 63px;
    background-color: #ff5842 ;
    float: left;
    margin-right: 1px;
}
.Login {
    width: 52px;
    background-color: #a1a1a1 ;
    float: left;
}
/*---------------------middle---------------------*/
.banner {
    height: 512px;
    background: #f4f4f4 url("http://192.168.1.134:8899/Composure/images/banner-bg.jpg") no-repeat;
    border-top: 5px solid #efefef;
}
.contact {
    height: 483px;
}
.contact h3 {
    color: #121212;
    font-size: 24px;
    line-height: 72px;
    height: 72px;
}
.contact p {
    font-size: 16px;
    line-height: 28px;
    color: #121212;
}
.contact img {
    vertical-align: middle;
    margin-top: -6px;
    padding-right: 9px;
}
.form-top {
    padding-top: 14px;
}
.form-top input {
    width: 363px;
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    border: 2px solid #f8f8f8;
    padding-left: 9px;
    font-family: "Segoe UI Light", "Calibri";
}
.e-mail {
    margin: 0 32px;
}
.form-middle textarea {
    width: 1187px;
    height: 134px;
    font-size: 16px;
    padding-left: 9px;
    padding-top: 12px;
    margin-top: 30px;
    border: 2px solid #f8f8f8;
    font-family: "Segoe UI Light", "Calibri";
}
.form-bottom input {
    width: 281px;
    height: 47px;
    background-color: #ff5842;
    font-size: 16px;
    line-height: 47px;
    text-align: center;
    color: #FFF;
    margin-top: 30px;
}

/*---------------------footer---------------------*/
.foot-top {
    height: 210px;
    background-color: #222f35;
}
.foot-bottom {
    height: 53px;
    background-color: #172125;
}
.container {
    width: 1200px; margin: 0 auto;
}
dl {
    float: left;
}
dt {
    font-size: 24px;
    line-height: 72px;
    color: #FFF;
    height: 72px;
}
dd {
    font-size: 14px;
    line-height: 26px;
    color: #7d9aa7;
}
.foot-top dd a {
    color: #7d9aa7;
}
.foot-top dd a:hover {
    color: #FFFFFF;
}
.dl1 {
    width: 568px;
}
.dl1 img {
    vertical-align: middle;
    margin-top: -6px;
    padding-right: 9px;
}
.dl1 dd {
    line-height: 21px;
}
.dl2 {
    width: 220px;
}
.dl3 {
    width: 254px;
}
.dl4 {
    width: 158px;
}
.foot-left {
    font-size: 14px;
    line-height: 53px;
    color: #82a0ad;
    float: left;
}
.foot-right {
    padding-top: 7px;
    float: right;
}
.foot-right li {
    float: left;
    margin-left: 2px;
    width: 37px;
    height: 37px;
    background-color: #222f35;
}
.foot-right li a {
    display: inline-block;
    width: 37px;
    height: 37px;
    opacity: .6;
}
.foot-right li a:hover {
    opacity: 1;
}
.icon_facebook {
    background: url("../images/cp-icon.gif") 0 0;
}
.icon_twitter {
    background: url("../images/cp-icon.gif") -38px 0;
}
.icon_google {
    background: url("../images/cp-icon.gif") -77px 0;
}
.icon_youtube {
    background: url("../images/cp-icon.gif") -116px 0;
}
