.main {
    height: 2015px;
    position: relative;
    z-index: 999;
}
.home-title {
    height: 92px;
    font-size: 24px;
    line-height: 92px;
    font-weight: bold;
}
.home-title-img {
    vertical-align: middle;
    padding-right: 10px;
}


.banner {
    width: 100%;
    height: 477px;
    background: #f9f9f9;
    border-top: 5px solid #efefef;
    position: relative;
}
.banner-container {
    width: 1200px;
    margin: 0 auto;
}
.banner-display {
    position: relative;
}
.banner-display-visible {
    width: 600px;
    height: 477px;
    position: relative;
    z-index: 99;
}
.banner-describe {
    width: 600px;
    height: 9999px;
}
.banner-describe li {
    width: 600px;
    height: 477px;
}
.banner-p-first {
    padding-top: 50px;
    font-size: 32px;
    height: 34px;
    line-height: 34px;
    color: #ff5842;
    font-weight: bold;
}
.banner-p-second {
    width: 508px;
    height: 67px;
    font-size: 22px;
    line-height: 67px;
    color: #8b8b8b;
    border-bottom: 1px solid #e2e2e2;
}
.banner-p-third {
    width: 472px;
    padding-top: 20px;
    font-size: 16px;
    color: #656565;
    line-height: 28px;
    padding-bottom: 82px;
}
.banner-btn {
    width: 276px;
    height: 57px;
    background: #ff5842;
    color: #fff;
    font-size: 24px;
    border: 0 none;
    outline: none;
}
.banner-btn img {
    vertical-align: middle;
}
.banner-images-visible {
    width: 750px;
    height: 443px;
    position: absolute;
    left: 476px;
    top: 0;
    z-index: 9;
    overflow: hidden;
}
.banner-images {
    width: 9999px;
    height: 443px;
    list-style: none;
    padding-top: 35px;
}
.banner-images li {
    width: 750px;
    height: 443px;
    float: left;
}
#bannerLeft {
    width: 41px;
    height: 41px;
    position: absolute;
    left: 10px;
    top: 218px;
    background: #f5f5f5 url("../images/turn-left.png");
    float: left;
}
#bannerLeft:hover {
    background: #eee url("../images/turn-left.png");
}
#bannerRight {
    width: 41px;
    height: 41px;
    position: absolute;
    right: 10px;
    top: 218px;
    background: #f5f5f5 url("../images/turn-right.png");
    float: right;
}
#bannerRight:hover {
    background: #eee url("../images/turn-right.png");
}
.split {
    width: 100%;
    height: 76px;
    padding-top: 24px;
    background: #121212;
    position: relative;
    z-index: 999;
}
.split-content {
    height: 50px;
    background: url("../images/split-close.png") no-repeat right center;
}
.split-btn {
    width: 172px;
    height: 50px;
    color: #bababa;
    background: #1f1f1f;
    font-size: 23px;
    font-family: "Segoe UI Light", "Calibri";
    float: left;
}
.split-describe {
    padding-left: 17px;
    font-size: 23px;
    line-height: 50px;
    color: #bababa;
    float: left;
}

.Our {
    height: 339px;
}
.Our .Our-tab {
    height: 246px;
    border-bottom: 1px solid #e6e6e6;
}
.Our .Our-tab li {
    width: 340px;
    height: 196px;
    padding: 23px 20px 0;
    border-top: 7px solid #ff5842;
    margin-right: 30px;
    background: #f9f9f9;
    float: left;
}
.Our .Our-tab li.Our-li-else {
    margin-right: 0;
}
.Our .Our-tab li div {
    height: 48px;
    font-size: 24px;
    line-height: 39px;
}
div.Task  {
    background: url("../images/Task.png") no-repeat right center;
}
div.Calender  {
    background: url("../images/Calender.png") no-repeat right center;
}
div.Reminder  {
    background: url("../images/Reminder.png") no-repeat right center;
}
.Our .Our-tab li p {
    height: 75px;
    line-height: 25px;
    font-size: 16px;
    color: #555;
    padding-bottom: 23px;
}
.Our .Our-tab li a {
    font-size: 16px;
    color: #6ec0fd;
}
.Our .Our-tab li a img {
    vertical-align: middle;
}

.Sto {
    height: 483px;
}
.Sto-left {
    float: left;
}
.Sto-right {
    float: right;
    padding-top: 31px;
}
.Sto-right div {
    width: 41px;
    height: 41px;
    cursor: pointer;
    float: left;
}
.Sto-right div:hover {
    background-color: #eee;
}
.turn-left {
    background: #f5f5f5 url("../images/turn-left.png");
}
.turn-right {
    background: #f5f5f5 url("../images/turn-right.png");
    margin-left: 1px;
}
.Sto-tab {
    height: 388px;
    border-bottom: 1px solid #e6e6e6;
}
.Sto-tab li {
    width: 281px;
    border: 2px solid #f8f8f8;
    margin-right: 20px;
    float: left;
}
.Sto-tab-img {
    width: 281px;
    height: 266px;
    background: #fefefe;
}
.Sto-tab li:hover {
    border: 2px solid #ededed;
}
.Sto-tab li.Sto-li-else {
    margin-right: 0;
}
.Sto-tab-describe {
    height: 100px;
    font-size: 16px;
    text-align: center;
    background: #f8f8f8;
}
.Sto-tab li div p {
    height: 40px;
    line-height: 40px;
    color: #727272;
}
.Sto-tab li div span {
    display: block;
    color: #ff5842;
    padding-bottom: 7px;
}
.Sto-tab li div input {
    width: 102px;
    height: 26px;
    color: #333;
    font-size: 12px;
    background: #e6e6e6;
}
.Sto-tab li div input:hover {
    cursor: pointer;
    background: #ff5842;
}
.Pro {
    height: 632px;
    border-bottom: 1px solid #e6e6e6;
}
.Pro-header-left {
    float: left;
}
.Pro-header-right {
    padding-top: 30px;
    float: right;
}
.Pro-header-right li {
    float: left;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #1f1f1f;
    border-right: 1px solid #e6e6e6;
}
.Pro-header-right li:hover {
    color: #ff5842;
}
.Pro-header-right li.Pro-header-li-else {
    padding-right: 0;
    border-right: 0 none;
}
.Pro-content {
    height: 500px;
}
.Pro-content li {
    width: 595px;
    height: 240px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #686868;
    float: left;
    position: relative;
    overflow: hidden;
}
.Pro-content li.Pro-content-no-right {
    margin-right: 0;
}
.Pro-content li div {
    height: 240px;
    padding: 0 40px 0 20px;
    color: #fff;
    background: #272727;
    position: absolute;
    left: 0;
    top: 169px;
}
.Pro-content li div h3 {
    height: 44px;
    line-height: 44px;
    font-size: 22px;
    font-weight: 500;
}
.Pro-content li div span {
    font-size: 12px;
    display: block;
    padding-bottom: 23px;
}
.Pro-content li div p {
    font-size: 14px;
    line-height: 21px;
}
.Pro-border-bottom {
    height: 20px;
    background: #efefef;
}
.Pro-border-display {
    width: 500px;
    height: 20px;
    background: #ff5842;
}

.Pos {
    height: 280px;
    border-bottom: 1px solid #e6e6e6;
}
.Pos-display {
    height: 170px;
}
.Pos-btn-left {
    width: 41px;
    height: 170px;
    background: #f5f5f5 url("../images/left-icon.png") no-repeat center center;
    float: left;
}
.Pos-btn-left:hover {
    background: #eee url("../images/left-icon.png") no-repeat center center;
    cursor: pointer;
}
.Pos-display-content {
    width: 1098px;
    padding: 0 10px;
    float: left;
}
.Pos-img {
    display: inline-block;
    width: 200px;
    height: 170px;
    background: #797979;
    float: left;
}
.Pos-display-describe {
    display: inline-block;
    width: 873px;
    height: 170px;
    padding: 0 10px 0 15px;
    float: left;
}
.Pos-display-describe h4 {
    height: 39px;
    line-height: 39px;
    font-size: 20px;
}
.Pos-display-describe div {
    color: #9f9f9f;
    font-size: 12px;
}
.Pos-display-describe div span {
    color: #ff5842;
}
.Pos-display-describe p {
    font-size: 14px;
    line-height: 21px;
    padding: 14px 0;
}
.Pos-display-describe input {
    width: 183px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    background: #ff5842;
}
.Pos-btn-right {
    width: 41px;
    height: 170px;
    background: #f5f5f5 url("../images/right-icon.png") no-repeat center center;
    float: right;
}
.Pos-btn-right:hover {
    background: #eee url("../images/right-icon.png") no-repeat center center;
    cursor: pointer;
}
.Cli {
    height: 279px;
}
.Cli-left {
    float: left;
}
.Cli-display {
    width: 804px;
    height: 186px;
    padding-top: 1px;
}
.Cli-display li {
    width: 253px;
    height: 186px;
    margin-right: 15px;
    float: left;
}
.Cli-li-describe {
    width: 231px;
    height: 80px;
    position: relative;
    border: 1px solid #f2f2f2;
    background: #f8f8f8;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 10px 0;
}
.Cli-li-describe-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid #f2f2f2;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: 85px;
    left: 52px;
}
.Cli-li-item {
    height: 100px;
    margin-top: 19px;
}
.Cli-li-item-icon {
    width: 30px;
    height: 30px;
    background: #686868;
    float: left;
}
.Cli-li-item-content {
    padding-left: 5px;
    line-height: 16px;
    font-size: 12px;
    float: left;
}
.Cli-li-item-content h4 {
    height: 15px;
}
.Cli-li-item-content p {
    height: 15px;
    color: #bbb;
}
.Cli-right {
    float: right;
    width: 390px;
    height: 209px;
    background: #57bae8;
    margin-top: 20px;
}
.Cli-right-icon {
    height: 74px;
    background: url("../images/Cli-Twitter-icon.png") no-repeat center center;
}
.Cli-right-describe {
    height: 85px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 23px;
}
.Cli-right-describe p {
    color: #f6fbfe;
    font-size: 16px;
}
.Cli-right-describe h4 {
    color: #bbe7fb;
    font-size: 14px;
}
.Cli-right-Twitter {
    font-size: 18px;
    line-height: 28px;
    text-indent: 10px;
    color: #edf7fc;
}